body {
  margin: 0;
  padding: 0; }

.clearfix:after, .field:after {
  display: block;
  content: '' !important;
  clear: both; }

.resource, .resources .res,
.player-resources .res, .resources-for-change span {
  display: inline-block;
  width: 30px;
  height: 30px;
  text-align: center; }

.number, .hex .number, .resources .quantity,
.player-resources .quantity {
  font-family: Arial, sans-serif;
  font-size: 26px;
  font-weight: bold; }

.title-general, .player .name, .active-player-menu .name, .box .title-main, .box .title {
  color: #e9bf71;
  font-size: 30px;
  text-align: center;
  text-shadow: 1px 1px 2px #000; }

.btn {
  padding: 10px;
  border: solid 1px rgba(81, 64, 46, 0.7);
  text-decoration: none;
  font-size: 30px;
  margin-right: 20px;
  cursor: pointer;
  box-shadow: 1px 1px 5px #000; }

.btn-green {
  background: rgba(37, 38, 15, 0.5);
  color: #93e971; }

.btn-red {
  background: rgba(47, 21, 18, 0.5);
  color: #ac2424; }

.game {
  position: absolute;
  top: 0;
  bottom: 0;
  right: 0;
  left: 0;
  min-height: 1026px;
  display: flex;
  justify-content: center;
  align-items: center;
  background: url("../img/hex_water.png") repeat 0 0; }

.field {
  position: relative;
  width: 680px;
  /*hex edge size*8*/
  height: 800px;
  /*hex edge size*8.5*/
  margin: auto;
  font-family: Georgia; }

.hex {
  position: absolute;
  display: flex;
  justify-content: center;
  align-items: center;
  width: 170px;
  height: 147px;
  text-align: center;
  font-size: 70px;
  font-weight: bold;
  background-size: 100%; }
  .hex.wheat {
    background-image: url("../img/hex_grain.png"); }
  .hex.rock {
    background-image: url("../img/hex_stone.png"); }
  .hex.tree {
    background-image: url("../img/hex_wood.png"); }
  .hex.sheep {
    background-image: url("../img/hex_sheep.png"); }
  .hex.brick {
    background-image: url("../img/hex_brick.png"); }
  .hex.desert {
    background-image: url("../img/hex_desert.png"); }
    .hex.desert .number, .hex.desert .resources .quantity, .resources .hex.desert .quantity,
    .hex.desert .player-resources .quantity,
    .player-resources .hex.desert .quantity {
      display: none; }
  .hex.seaHex:after {
    content: "";
    width: 45px;
    height: 45px;
    background-size: 100%;
    background-repeat: no-repeat; }
  .hex.harbor-general-harbor:after {
    background-image: url("../img/general-harbor.png"); }
  .hex.harbor-wheat:after {
    background-image: url("../img/res_grain_color.png"); }
  .hex.harbor-brick:after {
    background-image: url("../img/res_brick_color.png"); }
  .hex.harbor-sheep:after {
    background-image: url("../img/res_sheep_color.png"); }
  .hex.harbor-rock:after {
    background-image: url("../img/res_stone_color.png"); }
  .hex.harbor-tree:after {
    background-image: url("../img/res_wood_color.png"); }
  .hex .number, .hex .resources .quantity, .resources .hex .quantity,
  .hex .player-resources .quantity,
  .player-resources .hex .quantity {
    position: relative;
    width: 47px;
    text-align: center;
    background: rgba(250, 250, 250, 0.7);
    border-radius: 50%;
    padding: 10px 0px 6px 0;
    border: solid 1px rgba(255, 255, 255, 0.5);
    text-shadow: 0 0 5px #fff, 0 0 5px #fff, 0 0 5px #fff, 0 0 5px #fff, 0 0 5px #fff, 0 0 5px #fff, 0 0 5px #fff, 0 0 5px #fff, 0 0 5px #fff, 0 0 5px #fff; }
    .hex .popular.number, .hex .resources .popular.quantity, .resources .hex .popular.quantity,
    .hex .player-resources .popular.quantity,
    .player-resources .hex .popular.quantity {
      background: rgba(160, 73, 47, 0.5);
      border: solid 1px rgba(160, 73, 47, 0.5); }

.crossroad {
  position: absolute;
  width: 40px;
  height: 40px;
  opacity: 1;
  z-index: 2; }
  .crossroad.available {
    border: solid 2px silver;
    box-shadow: none;
    border-radius: 50%;
    -webkit-animation: blinking-border 1s linear infinite;
    animation: blinking-border 1s linear infinite; }
    .crossroad.available.blinking {
      border: solid 2px red; }
      .crossroad.available.blinking:after {
        background: white url("../img/cross_settlement.png") no-repeat 0 0;
        background-size: 40px 40px;
        -webkit-animation: none;
        animation: none; }
    .crossroad.available:after {
      content: " ";
      position: absolute;
      width: 40px;
      height: 40px;
      border-radius: 50%;
      background: white no-repeat 0 0;
      background-size: 40px 40px;
      z-index: 2;
      -webkit-animation: blinking-bg 1s linear infinite;
      animation: blinking-bg 1s linear infinite; }
  .crossroad.settlement {
    border: solid 2px red;
    box-shadow: 0 0 10px red;
    border-radius: 50%; }
    .crossroad.settlement:after {
      content: " ";
      position: absolute;
      width: 40px;
      height: 40px;
      border-radius: 50%;
      background: white url("../img/cross_settlement.png") no-repeat 0 0;
      background-size: 40px 40px;
      z-index: 2; }
  .crossroad.available-for-city {
    background: white;
    border: solid 2px red;
    box-shadow: none;
    border-radius: 0;
    -webkit-animation: blinking-border 1s linear infinite;
    animation: blinking-border 1s linear infinite; }
    .crossroad.available-for-city:before {
      content: " ";
      position: absolute;
      transform: rotate(45deg);
      background: white;
      box-shadow: none;
      width: 40px;
      height: 40px;
      border: solid 2px red;
      left: -2px;
      top: -2px;
      -webkit-animation: blinking-border 1s linear infinite;
      animation: blinking-border 1s linear infinite; }
    .crossroad.available-for-city.blinking:after {
      left: 0;
      top: 0;
      border: none; }
  .crossroad.city {
    background: white;
    background-size: 40px 40px;
    border-radius: 0; }
    .crossroad.city:before {
      content: " ";
      position: absolute;
      transform: rotate(45deg);
      background: white;
      width: 40px;
      height: 40px;
      border: solid 2px red;
      left: -2px;
      top: -2px;
      -webkit-animation: none;
      animation: none;
      -webkit-filter: grayscale(0);
      filter: grayscale(0); }
    .crossroad.city:after {
      content: " ";
      position: absolute;
      background: white url("../img/cross_city.png") no-repeat 0 0;
      background-size: 40px 40px;
      width: 40px;
      height: 40px;
      -webkit-animation: none;
      animation: none;
      -webkit-filter: grayscale(0);
      filter: grayscale(0);
      transform: rotate(0);
      border: none;
      border-radius: 0;
      left: 0;
      top: 0; }

.road {
  position: absolute;
  width: 85px;
  height: 9px;
  transform-origin: 0 50% 0; }
  .road:after {
    content: " ";
    position: absolute;
    top: 0;
    width: 85px;
    height: 9px;
    background: url("/img/road.png") no-repeat 0 0; }
  .road.seaRoad {
    display: none; }
    .road.seaRoad:after {
      display: none; }
  .road.available {
    background: url("/img/road_1.png") no-repeat 0 0; }
    .road.available:after {
      content: " ";
      position: absolute;
      width: 85px;
      height: 9px;
      background: url("/img/road-red_1.png") no-repeat 0 0;
      -webkit-filter: grayscale(1);
      filter: grayscale(1);
      -webkit-animation: blinking-opacity 1s linear infinite !important;
      animation: blinking-opacity 1s linear infinite !important; }
  .road.blinking:after {
    -webkit-animation: blinking 1s linear infinite !important;
    animation: blinking 1s linear infinite !important; }
  .road.highway:after {
    background: url("/img/road-red_1.png") no-repeat 0 0; }
  .road.harbor-road:before {
    content: "";
    position: absolute;
    width: 107px;
    height: 134px;
    background: url("../img/port.png") no-repeat 0 0;
    z-index: 2;
    right: -30px;
    top: -60px;
    transform: rotate(-120deg); }
  .road span {
    width: 42px;
    height: 42px;
    display: block;
    margin: 60px auto 0;
    background-size: 100%;
    background-repeat: no-repeat; }
    .road span.tree {
      background-image: url("../img/res_wood.png"); }
    .road span.wheat {
      background-image: url("../img/res_grain.png"); }
    .road span.sheep {
      background-image: url("../img/res_sheep.png"); }
    .road span.brick {
      background-image: url("../img/res_brick.png"); }
    .road span.rock {
      background-image: url("../img/res_stone.png"); }
    .road span.general-harbor {
      background: url("../img/general-harbor.png"); }

.crossroad.red, .crossroad.blue, .crossroad.violet,
.crossroad:before.red, .crossroad:before.blue, .crossroad:before.green
.crossroad:after.red, .crossroad:after.blue, .crossroad:after.green
.road.red, .road.blue, .road.violet {
  -webkit-filter: grayscale(0);
  filter: grayscale(0); }

.crossroad.red, .road.red:after {
  -webkit-filter: hue-rotate(0);
  filter: hue-rotate(0deg); }

.crossroad.blue, .road.blue:after {
  -webkit-filter: hue-rotate(600deg);
  filter: hue-rotate(600deg); }

.crossroad.violet, .road.violet:after {
  -webkit-filter: hue-rotate(288deg);
  filter: hue-rotate(288deg); }

.players {
  display: inline-block; }
  .players > div {
    position: absolute; }
    .players > div:first-child {
      top: 0;
      left: 0; }
    .players > div:nth-child(2) {
      top: 0;
      right: 0; }
    .players > div:last-child {
      bottom: 0;
      left: 0; }

.player {
  padding: 10px;
  background: url("../img/dialog-inner.jpg") no-repeat 0 0;
  -webkit-border-image: url("../img/dialog-border.jpg") 5;
  -moz-border-image: url("../img/dialog-border.jpg") 5;
  -ms-border-image: url("../img/dialog-border.jpg") 5;
  border-image: url("../img/dialog-border.jpg") 5; }
  .player .name {
    margin-bottom: 10px;
    -webkit-border-image: url("../img/dialog-border.jpg") 5px;
    -moz-border-image: url("../img/dialog-border.jpg") 5px;
    -ms-border-image: url("../img/dialog-border.jpg") 5px;
    border-image: url("../img/dialog-border.jpg") 5px; }
  .player .score {
    font-size: 20px;
    color: #e9bf71;
    margin-bottom: 10px; }

.menu {
  position: absolute;
  right: 0;
  top: 50%;
  transform: translateY(-50%); }
  .menu > div.disabled, .menu > div:not(.active) {
    display: none; }

.active-player-menu {
  position: absolute;
  bottom: 0;
  left: 50%;
  width: 689px;
  height: px;
  padding: 10px;
  transform: translateX(-50%);
  background: url("../img/dialog-inner.jpg") repeat;
  -webkit-border-image: url("../img/dialog-border.jpg") 5;
  -moz-border-image: url("../img/dialog-border.jpg") 5;
  -ms-border-image: url("../img/dialog-border.jpg") 5;
  border-image: url("../img/dialog-border.jpg") 5; }
  .active-player-menu .name {
    margin-bottom: 10px; }

.resources,
.player-resources {
  text-align: center; }
  .resources .res,
  .player-resources .res {
    position: relative;
    width: 42px;
    height: 42px;
    background-repeat: no-repeat;
    background-size: 100%;
    margin-right: 10px; }
    .resources .res:last-child,
    .player-resources .res:last-child {
      margin-right: 0; }
    .resources .res.brick,
    .player-resources .res.brick {
      background-image: url("../img/res_brick_color.png"); }
    .resources .res.wheat,
    .player-resources .res.wheat {
      background-image: url("../img/res_grain_color.png"); }
    .resources .res.rock,
    .player-resources .res.rock {
      background-image: url("../img/res_stone_color.png"); }
    .resources .res.tree,
    .player-resources .res.tree {
      background-image: url("../img/res_wood_color.png"); }
    .resources .res.sheep,
    .player-resources .res.sheep {
      background-image: url("../img/res_sheep_color.png"); }
  .resources .quantity,
  .player-resources .quantity {
    position: absolute;
    bottom: -5px;
    right: 0;
    text-shadow: 0 0 5px #fff, 0 0 5px #fff, 0 0 5px #fff, 0 0 5px #fff, 0 0 5px #fff, 0 0 5px #fff, 0 0 5px #fff, 0 0 5px #fff, 0 0 5px #fff, 0 0 5px #fff; }

.build {
  display: none;
  left: 300px;
  background: green; }
  .build.disabled {
    background: grey; }

.control-element, .start-game, .end-turn, .choose-for-building, .do-rob, .build, .change-with-bank {
  height: 50px;
  width: 50px;
  border: solid 1px black;
  margin-bottom: 20px; }

.start-game {
  left: 100px; }
  .start-game:after {
    content: "Start game!"; }

.end-turn {
  left: 200px; }
  .end-turn:after {
    content: "Finish your turn!"; }

.choose-for-building {
  top: 60%;
  left: 100px; }
  .choose-for-building:after {
    content: "Building"; }

.do-rob {
  display: none;
  top: 60%;
  left: 200px;
  background: green; }

.build:after {
  content: "Build"; }

.change-with-bank {
  left: 400px; }
  .change-with-bank:after {
    content: "Exchange in bank"; }

.end-turn.active,
.change-with-bank.active,
.choose-for-building.active {
  background: green; }

.refuse-building {
  background: red;
  width: 20px;
  height: 20px;
  border-radius: 50%;
  position: absolute;
  display: none; }

.box {
  display: none;
  position: fixed;
  width: 500px;
  height: 500px;
  top: 50%;
  left: 50%;
  margin-top: -300px;
  margin-left: -300px;
  background: #fff;
  background: url("../img/dialog-inner.jpg") repeat 0 0;
  z-index: 101;
  box-sizing: border-box;
  text-align: center;
  -webkit-border-image: url("../img/dialog-border.jpg") 10;
  -moz-border-image: url("../img/dialog-border.jpg") 10;
  -ms-border-image: url("../img/dialog-border.jpg") 10;
  border-image: url("../img/dialog-border.jpg") 10; }
  .box.active {
    display: block; }
  .box .title-main {
    width: 100%;
    padding: 15px 0;
    margin: 0;
    border-bottom: solid 2px #201612; }
  .box .title {
    display: inline-block;
    margin: 0;
    font-size: 18px;
    text-align: right;
    vertical-align: middle; }
  .box .resources {
    display: inline-block;
    margin: 0 20px 20px 0;
    vertical-align: middle; }

.change-resources {
  width: 500px;
  margin: 55px auto 35px;
  position: relative;
  display: none; }
  .change-resources.active {
    display: block; }

.resources-to-bank,
.player-resources,
.resources-from-bank {
  text-align: left;
  margin: 0 50px; }

.resources-to-bank .res.empty,
.resources-from-bank .res.empty {
  background: none;
  border-radius: 50%;
  -webkit-box-shadow: inset 3px 3px 4px #000;
  -moz-box-shadow: inset 3px 3px 4px #000;
  box-shadow: inset 3px 3px 4px #000; }

.resources-to-bank .quantity {
  text-shadow: 0 0 5px #fd9494, 0 0 5px #fd9494, 0 0 5px #fd9494, 0 0 5px #fd9494, 0 0 5px #fd9494, 0 0 5px #fd9494, 0 0 5px #fd9494, 0 0 5px #fd9494, 0 0 5px #fd9494, 0 0 5px #fd9494; }

.resources-from-bank .quantity {
  text-shadow: 0 0 5px #affd94, 0 0 5px #affd94, 0 0 5px #affd94, 0 0 5px #affd94, 0 0 5px #affd94, 0 0 5px #affd94, 0 0 5px #affd94, 0 0 5px #affd94, 0 0 5px #affd94, 0 0 5px #affd94; }

.resources-for-change {
  display: inline-block; }

.control-btns {
  margin-top: 55px;
  text-align: center; }

#overlay {
  display: none;
  position: fixed;
  /* keeps the lightbox window in the current viewport */
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: rgba(0, 0, 0, 0.6);
  text-align: center;
  z-index: 100;
  opacity: 0;
  -webkit-transition: opacity 3s;
  -moz-transition: opacity 3s;
  -ms-transition: opacity 3s;
  -o-transition: opacity 3s;
  transition: opacity 3s; }
  #overlay.active {
    display: block;
    opacity: 1; }

/* Resources on main screen and in hidden exchange-field block*/
.resources-for-change span {
  width: 50px;
  height: 50px; }
  .resources-for-change span.active {
    width: 70px;
    height: 70px;
    margin-right: 10px; }
.resources-for-change .res {
  display: inline-block;
  margin-right: 25px; }
  .resources-for-change .res .controls {
    margin: 10px 0; }
    .resources-for-change .res .controls div {
      display: inline-block; }
  .resources-for-change .res .ctrl {
    width: 10px;
    height: 10px;
    padding: 5px;
    background: lightgrey;
    border: solid 1px grey;
    border-radius: 4px;
    cursor: pointer; }

.player-resources .res span {
  margin-right: 0; }
.player-resources p span {
  background: none;
  width: auto;
  height: auto;
  margin-right: 0; }

.player-resources p,
.robber p {
  text-align: center; }

.robber {
  position: absolute;
  bottom: 0; }

.building-objects {
  display: none;
  width: 400px;
  margin: 100px auto;
  height: 400px;
  position: relative; }
  .building-objects span {
    background: grey;
    display: inline-block;
    width: 100px;
    height: 25px;
    text-align: center;
    margin-right: 15px;
    padding: 5px; }
    .building-objects span.active {
      background: yellow;
      border: solid 1px orange; }

.choose-res-for-rob {
  display: none; }

.border-red, .crossroad.available-for-city:after {
  border: solid 2px red;
  left: -2px;
  top: -2px; }

.blinking {
  -webkit-animation: blinking 1s linear infinite !important;
  animation: blinking 1s linear infinite !important; }

@keyframes blinking {
  0% {
    opacity: 1; }
  50% {
    opacity: 0.3; }
  100% {
    opacity: 1; } }
/* Chrome, Safari, Opera */
@-webkit-keyframes blinking {
  0% {
    opacity: 1; }
  50% {
    opacity: 0.3; }
  100% {
    opacity: 1; } }
@keyframes blinking-border {
  0% {
    border: solid 2px red; }
  50% {
    border: solid 2px rgba(255, 0, 0, 0.5); }
  100% {
    border: solid 2px red; } }
/* Chrome, Safari, Opera */
@-webkit-keyframes blinking-border {
  0% {
    border: solid 2px red; }
  50% {
    border: solid 2px rgba(255, 0, 0, 0.5); }
  100% {
    border: solid 2px red; } }
@keyframes blinking-bg {
  0% {
    background: white; }
  50% {
    background: rgba(255, 255, 255, 0.85); }
  100% {
    background: white; } }
/* Chrome, Safari, Opera */
@-webkit-keyframes blinking-bg {
  0% {
    background: white; }
  50% {
    background: rgba(255, 255, 255, 0.85); }
  100% {
    background: white; } }
@keyframes blinking-opacity {
  0% {
    opacity: 0.5; }
  50% {
    opacity: 0.3; }
  100% {
    opacity: 0.5; } }
/* Chrome, Safari, Opera */
@-webkit-keyframes blinking-opacity {
  0% {
    opacity: 0.5; }
  50% {
    opacity: 0.3; }
  100% {
    opacity: 0.5; } }
.dice {
  display: inline-block;
  position: absolute;
  top: 70%;
  left: 100px; }

.value-1,
.value-2 {
  display: inline-block;
  width: 50px;
  height: 50px;
  border: solid 1px black;
  background: orange;
  text-align: center; }

.thief {
  width: 30px;
  height: 30px;
  border-radius: 50%;
  background: black;
  position: absolute;
  z-index: 99; }
  .thief.active {
    border: solid 2px white; }

.choose-player-for-robber {
  display: none; }
  .choose-player-for-robber p {
    font-size: 22px;
    line-height: 517px;
    display: block; }

span.victim {
  color: blue;
  text-decoration: underline;
  cursor: pointer; }

.end-of-game {
  display: none; }

.play-one-more-time {
  width: 100px;
  height: 50px;
  margin: 10px;
  text-align: center;
  background: yellow; }

#debug {
  width: 100%;
  height: 300px;
  display: none; }

/*# sourceMappingURL=styles.css.map */
