body {
    margin:0;
    padding:0;
}

.clearfix:after {
    display: block;
    content: '' !important;
    clear: both;
}

.resource {
    display: inline-block;
    width: 30px;
    height: 30px;
    text-align: center;
}

.number {
    font-family: Arial, sans-serif;
    font-size: 26px;
    font-weight:bold;
//    text-shadow: 0 0 5px white,0 0 5px white,0 0 5px white,0 0 5px white,0 0 5px white,0 0 5px white,0 0 5px white,0 0 5px white,0 0 5px white,0 0 5px white;
}

.title-general {
    color:#e9bf71;
    font-size:30px;
    text-align: center;
    text-shadow:1px 1px 2px #000;
}
.btn {
    padding:10px;
    border:solid 1px rgba(81,64,46,0.7);
    text-decoration:none;
    font-size:30px;
    margin-right:20px;
    cursor:pointer;
    box-shadow: 1px 1px 5px #000;
}
.btn-green {
    background: rgba(37,38,15,0.5);
    color:#93e971;
}
.btn-red {
    background: rgba(47,21,18,0.5);
    color:#ac2424;
}

@mixin bordered-image($size) {
    -webkit-border-image: url('../img/dialog-border.jpg') $size;
    -moz-border-image: url('../img/dialog-border.jpg') $size;
    -ms-border-image: url('../img/dialog-border.jpg') $size;
    border-image: url('../img/dialog-border.jpg') $size;
}

@mixin text-shadow ($color) {
    text-shadow: 0 0 5px $color,0 0 5px $color,0 0 5px $color,0 0 5px $color,0 0 5px $color,0 0 5px $color,0 0 5px $color,0 0 5px $color,0 0 5px $color,0 0 5px $color;
}

.game {
    position: absolute;
    top:0;
    bottom:0;
    right:0;
    left:0;
    min-height:1026px; //TODO:fix for tablet;
    display: flex;
    justify-content: center;
    align-items: center;
    background: url('../img/hex_water.png') repeat 0 0;
}

.field {
    @extend .clearfix;
    position:relative;
    width:680px; /*hex edge size*8*/
    height:800px; /*hex edge size*8.5*/
    margin:auto;
    font-family:Georgia;
}

.hex {
    position:absolute;
    display: flex;
    justify-content: center;
    align-items: center;
    width:170px;
    height:147px;
    text-align: center;
    font-size: 70px;
    font-weight: bold;
    background-size: 100%;

    &.wheat {background-image:url("../img/hex_grain.png");}
    &.rock { background-image:url("../img/hex_stone.png");}
    &.tree { background-image:url("../img/hex_wood.png");}
    &.sheep {background-image:url("../img/hex_sheep.png");}
    &.brick {background-image:url("../img/hex_brick.png");}
    &.desert {
        background-image:url("../img/hex_desert.png");
        .number {
            display: none;
        }
    }
    &.seaHex {
        &:after {
            content:"";
            width:45px;
            height:45px;
            background-size: 100%;
            background-repeat: no-repeat;
        }
    }
    &.harbor-general-harbor {
        &:after {
            background-image: url('../img/general-harbor.png');
        }
    }
    &.harbor-wheat {
        &:after {
            background-image: url('../img/res_grain_color.png');
        }
    }
    &.harbor-brick {
        &:after {
            background-image: url('../img/res_brick_color.png');
        }
    }
    &.harbor-sheep {
        &:after {
            background-image: url('../img/res_sheep_color.png');
        }
    }
    &.harbor-rock {
        &:after {
            background-image: url('../img/res_stone_color.png');
        }
    }
    &.harbor-tree {
        &:after {
            background-image: url('../img/res_wood_color.png');
        }
    }


    .number {
        @extend .number;
        position: relative;
        width: 47px;
        text-align: center;
        background: rgba(250, 250, 250, 0.7);
        border-radius: 50%;
        padding: 10px 0px 6px 0;
        border: solid 1px rgba(255,255,255,0.5);
        @include text-shadow(#fff);
        &.popular {
            background:rgba(160, 73, 47, 0.5);
            border: solid 1px rgba(160, 73, 47, 0.5);

        }
    }
}
.crossroad {
    position: absolute;
    width: 40px;
    height: 40px;
    opacity: 1;
    z-index: 2;
    &.available {
        border: solid 2px silver;
        box-shadow: none;
        border-radius: 50%;
        -webkit-animation: blinking-border 1s linear infinite;
        animation: blinking-border 1s linear infinite;
        &.blinking {
            border: solid 2px red;
            &:after {
                background: white url("../img/cross_settlement.png") no-repeat 0 0;
                background-size: 40px 40px;
                -webkit-animation: none;
                animation: none;
            }
        }
        &:after {
            content: " ";
            position: absolute;
            width: 40px;
            height: 40px;
            border-radius: 50%;
            background: white no-repeat 0 0;
            background-size: 40px 40px;
            z-index: 2;
            -webkit-animation: blinking-bg 1s linear infinite;
            animation: blinking-bg 1s linear infinite;
        }
    }
    &.settlement {
        border: solid 2px red;
        box-shadow: 0 0 10px red;
        border-radius: 50%;
        &:after {
            content: " ";
            position: absolute;
            width: 40px;
            height: 40px;
            border-radius: 50%;
            background: white url("../img/cross_settlement.png") no-repeat 0 0;
            background-size: 40px 40px;
            z-index: 2;
        }
    }
    &.available-for-city {
        background: white;
        border: solid 2px red;
        box-shadow: none;
        border-radius: 0;
        -webkit-animation: blinking-border 1s linear infinite;
        animation: blinking-border 1s linear infinite;
        &:before {
            content: " ";
            position: absolute;
            transform: rotate(45deg);
            background: white;
            box-shadow: none;
            width: 40px;
            height: 40px;
            border: solid 2px red;
            left: -2px;
            top: -2px;
            -webkit-animation: blinking-border 1s linear infinite;
            animation: blinking-border 1s linear infinite;
        }
        &:after {
            @extend .border-red;
        }
        &.blinking {
            &:after {
                left:0;
                top:0;
                border: none;
            }
        }
    }
    &.city {
        background: white;
        background-size: 40px 40px;
        border-radius: 0;
        &:before {
            content: " ";
            position: absolute;
            transform: rotate(45deg);
            background: white;
            width: 40px;
            height: 40px;
            border: solid 2px red;
            left: -2px;
            top: -2px;
            -webkit-animation: none;
            animation: none;
            -webkit-filter: grayscale(0);
            filter: grayscale(0);
        }
        &:after {
            content: " ";
            position: absolute;
            background: white url("../img/cross_city.png") no-repeat 0 0;
            background-size: 40px 40px;
            width: 40px;
            height: 40px;
            -webkit-animation: none;
            animation: none;
            -webkit-filter: grayscale(0);
            filter: grayscale(0);
            transform: rotate(0);
            border: none;
            border-radius: 0;
            left: 0;
            top: 0;
        }
    }
}
.road {
    position: absolute;
    width: 85px;
    height: 9px;
    transform-origin: 0 50% 0;
    &:after {
        content: " ";
        position: absolute;
        top:0;
        width: 85px;
        height: 9px;
        background: url("/img/road.png")no-repeat 0 0;
    }
    &.seaRoad {
        display: none;
        &:after {
            display: none;
        }
    }
    &.available {
        background: url("/img/road_1.png")no-repeat 0 0;
        &:after {
            content: " ";
            position: absolute;
            width: 85px;
            height: 9px;
            background: url("/img/road-red_1.png")no-repeat 0 0;
            -webkit-filter: grayscale(1);
            filter: grayscale(1);
            -webkit-animation: blinking-opacity 1s linear infinite !important;
            animation: blinking-opacity 1s linear infinite !important;
        }
    }
    &.blinking:after {
        -webkit-animation: blinking 1s linear infinite !important;
        animation: blinking 1s linear infinite !important;
    }
    &.highway:after {
        background: url("/img/road-red_1.png")no-repeat 0 0;
    }
    &.harbor-road {
        &:before {
            content: "";
            position: absolute;
            width: 107px;
            height: 134px;
            background: url("../img/port.png") no-repeat 0 0;
            z-index: 2;
            right: -30px;
            top: -60px;
            transform: rotate(-120deg);
        }
    }
    span {
        width:42px;
        height:42px;
        display: block;
        margin:60px auto 0;
        background-size:100%;
        background-repeat: no-repeat;
        &.tree {background-image: url('../img/res_wood.png');}
        &.wheat {background-image: url('../img/res_grain.png');}
        &.sheep {background-image: url('../img/res_sheep.png');}
        &.brick {background-image: url('../img/res_brick.png');}
        &.rock {background-image: url('../img/res_stone.png');}
        &.general-harbor {background: url('../img/general-harbor.png');}
    }
}

.crossroad.red, .crossroad.blue, .crossroad.violet,
.crossroad:before.red, .crossroad:before.blue, .crossroad:before.green
.crossroad:after.red, .crossroad:after.blue, .crossroad:after.green
.road.red, .road.blue, .road.violet {
    -webkit-filter: grayscale(0);
    filter: grayscale(0);
}
.crossroad.red, .road.red:after {
    -webkit-filter: hue-rotate(0);
    filter:hue-rotate(0deg);
}
.crossroad.blue, .road.blue:after {
    -webkit-filter: hue-rotate(600deg);
    filter:hue-rotate(600deg);
}
.crossroad.violet, .road.violet:after {
    -webkit-filter: hue-rotate(288deg);
    filter:hue-rotate(288deg);
}

.players {
    display: inline-block;
    & > div {
        position: absolute;
        &:first-child {
            top: 0;
            left: 0;
        }
        &:nth-child(2) {
            top: 0;
            right: 0;
        }
        &:last-child {
            bottom: 0;
            left: 0;
        }
    }
}

.player {
    padding:10px;
    background: url('../img/dialog-inner.jpg') no-repeat 0 0;
    @include bordered-image(5);
    .name {
        @extend .title-general;
        margin-bottom: 10px;
        @include bordered-image(5px);
    }
    .score {
        font-size:20px;
        color:#e9bf71;
        margin-bottom:10px;
    }
}

.menu {
    position:absolute;
    right: 0;
    top:50%;
    transform: translateY(-50%);
    & > div {
        &.disabled,
        &:not(.active){
            display: none;
        }
    }
}

.active-player-menu {
    position: absolute;
    bottom: 0;
    left: 50%;
    width: 689px;
    height:77px;
    padding:10px;
    transform: translateX(-50%);
    background: url('../img/dialog-inner.jpg') repeat ;
    @include bordered-image(5);
    .name {
        @extend .title-general;
        margin-bottom:10px;
    }
}
.resources,
.player-resources{
    text-align: center;
    .res {
        @extend .resource;
        position: relative;
        width: 42px;
        height: 42px;
        background-repeat: no-repeat;
        background-size: 100%;
        margin-right:10px;
        &:last-child{margin-right:0}
        &.brick {
            background-image: url('../img/res_brick_color.png');
        }
        &.wheat {
            background-image: url('../img/res_grain_color.png');
        }
        &.rock {
            background-image: url('../img/res_stone_color.png');
        }
        &.tree {
            background-image: url('../img/res_wood_color.png');
        }
        &.sheep {
            background-image: url('../img/res_sheep_color.png');
        }
    }
    .quantity {
        @extend .number;
        position: absolute;
        bottom: -5px;
        right: 0;
        @include text-shadow(#fff);
    }
}

.build {
    display:none;
    left:300px;
    background: green;
    &.disabled{
        background: grey;
    }
}
.control-element {
    height:50px;
    width:50px;
    border:solid 1px black;
    margin-bottom:20px;
}

.start-game {
    @extend .control-element;
    left:100px;
    &:after {
        content:"Start game!";
    }
}
.end-turn {
    @extend .control-element;
    left:200px;
    &:after {
        content:"Finish your turn!";
    }
}
.choose-for-building {
    @extend .control-element;
    top:60%;
    left:100px;
    &:after {
        content:"Building";
    }
}
.do-rob {
    @extend .control-element;
    display:none;
    top:60%;
    left:200px;
    background: green;
}
.build {
    @extend .control-element;
    &:after {
        content: "Build";
    }
}
.change-with-bank {
    @extend .control-element;
    left:400px;
    &:after {
        content: "Exchange in bank"
    }
}
.end-turn.active,
.change-with-bank.active,
.choose-for-building.active {
    background: green;
}

.refuse-building {
    background: red;
    width:20px;
    height:20px;
    border-radius: 50%;
    position:absolute;
    display:none;
}

.box {
    display:none;
    position:fixed;
    width:500px;
    height:500px;
    top: 50%;
    left: 50%;
    margin-top: -300px;
    margin-left: -300px;
    background:#fff;
    background:url('../img/dialog-inner.jpg') repeat 0 0;
    z-index:101;
    box-sizing: border-box;
    text-align: center;
    @include bordered-image(10);
    &.active {
        display:block;
    }
    .title-main {
        @extend .title-general;
        width:100%;
        padding: 15px 0;
        margin:0;
        border-bottom:solid 2px #201612;
    }
    .title {
        @extend .title-general;
        display: inline-block;
        margin:0;
        font-size:18px;
        text-align: right;
        vertical-align: middle;
    }
    .resources {
        display: inline-block;
        margin:0 20px 20px 0;
        vertical-align: middle;
    }
}

.change-resources {
    width: 500px;
    margin: 55px auto 35px;
    position:relative;
    display:none;
    &.active {display: block;}
}

.resources-to-bank,
.player-resources,
.resources-from-bank {
    text-align: left;
    margin:0 50px;
}

.resources-to-bank,
.resources-from-bank {
    .res {
        &.empty {
//            width:25px;
//            height:25px;
            background: none;
            border-radius:50%;
            -webkit-box-shadow: inset 3px 3px 4px #000;
            -moz-box-shadow: inset 3px 3px 4px #000;
            box-shadow: inset 3px 3px 4px #000;
        }
    }
}

.resources-to-bank {
    .quantity {
        @include text-shadow(#fd9494);
    }
}
.resources-from-bank {
    .quantity {
        @include text-shadow(#affd94);
    }
}

.resources-for-change {
    display: inline-block;
}
.control-btns {
    margin-top:55px;
    text-align: center;
}
#overlay {
    display:none;
    position:fixed; /* keeps the lightbox window in the current viewport */
    top:0;
    left:0;
    width:100%;
    height:100%;
    background:rgba(0,0,0,0.6);
    text-align:center;
    z-index:100;
    opacity:0;
    -webkit-transition: opacity 3s ;
    -moz-transition: opacity 3s ;
    -ms-transition: opacity 3s;
    -o-transition: opacity 3s;
    transition: opacity 3s;
    &.active {
        display:block;
        opacity:1;
    }
}


/* Resources on main screen and in hidden exchange-field block*/


.resources-for-change {
    span {
        @extend .resource;
        width: 50px;
        height: 50px;
        &.active {
            width: 70px;
            height: 70px;
            margin-right: 10px;
        }
    }
    .res {
        display: inline-block;
        margin-right: 25px;
        .controls {
            margin: 10px 0;
            div {display: inline-block;}
        }
        .ctrl {
            width: 10px;
            height: 10px;
            padding: 5px;
            background: lightgrey;
            border: solid 1px grey;
            border-radius: 4px;
            cursor: pointer;
        }
    }
}
.player-resources {
    .res span {
        margin-right:0;
    }
    p span {
        background: none;
        width:auto;
        height:auto;
        margin-right:0;
    }
}
.player-resources p,
.robber p {
    text-align:center;
}
.robber {
    position:absolute;
    bottom:0;
}

.building-objects {
    display: none;
    width: 400px;
    margin: 100px auto;
    height: 400px;
    position: relative;
    span {
        background: grey;
        display: inline-block;
        width: 100px;
        height: 25px;
        text-align: center;
        margin-right: 15px;
        padding: 5px;
        &.active {
            background: yellow;
            border: solid 1px orange;
        }
    }
}

.choose-res-for-rob {
    display:none;
}


.border-red {
    border: solid 2px red;
    left: -2px;
    top: -2px;
}

.blinking{
    -webkit-animation: blinking 1s linear infinite !important;
    animation: blinking 1s linear infinite !important;
}

@keyframes blinking {
    0% {opacity: 1;}
    50% {opacity: 0.3;}
    100% {opacity: 1;}
}
/* Chrome, Safari, Opera */
@-webkit-keyframes blinking {
    0% {opacity: 1;}
    50% {opacity: 0.3;}
    100% {opacity: 1;}
}

@keyframes blinking-border {
    0% {border: solid 2px rgba(255,0,0,1);}
    50% {border: solid 2px rgba(255,0,0,0.5);}
    100% {border: solid 2px rgba(255,0,0,1);}
}
/* Chrome, Safari, Opera */
@-webkit-keyframes blinking-border {
    0% {border: solid 2px rgba(255,0,0,1);  }
    50% {border: solid 2px rgba(255,0,0,0.5);  }
    100% {border: solid 2px rgba(255,0,0,1); }
}
@keyframes blinking-bg {
    0% {background: rgba(255,255,255,1); }
    50% {background: rgba(255,255,255,0.85); }
    100% { background: rgba(255,255,255,1);}
}
/* Chrome, Safari, Opera */
@-webkit-keyframes blinking-bg {
    0% { background: rgba(255,255,255,1); }
    50% { background: rgba(255,255,255,0.85); }
    100% { background: rgba(255,255,255,1);}
}
@keyframes blinking-opacity {
    0% {opacity: 0.5;}
    50% {opacity: 0.3;}
    100% {opacity: 0.5;}
}
/* Chrome, Safari, Opera */
@-webkit-keyframes blinking-opacity {
    0% {opacity: 0.5;}
    50% {opacity: 0.3;}
    100% {opacity: 0.5;}
}
.dice {
    display: inline-block;
    position:absolute;
    top:70%;
    left:100px;
}

.value-1,
.value-2 {
    display: inline-block;
    width:50px;
    height:50px;
    border:solid 1px black;
    background: orange;
    text-align: center;
}

.thief {
    width:30px;
    height:30px;
    border-radius: 50%;
    background: black;
    position: absolute;
    z-index:99;
    &.active {
        border:solid 2px white;
    }
}
.choose-player-for-robber {
    display:none;
    p {
        font-size: 22px;
        line-height: 517px;
        display: block;
    }
}
span.victim {
    color: blue;
    text-decoration: underline;
    cursor:pointer;
}

.end-of-game {
    display:none;
}
.play-one-more-time{
    width:100px;
    height:50px;
    margin:10px;
    text-align: center;
    background: yellow;
}
#debug {
    width: 100%;
    height: 300px;
    display:none;
}
