<div class="menu">
    <div class='start-game'></div>
    <div class='end-turn'></div>
    <div class='build-settlement'></div>
    <div class='change-with-bank'></div>
</div>
<div id="overlay"></div>
<div class="exchange-field box">
    <div class="change-resources">
        <div class="player-resources">
            <span class="tree" name="tree"></span><!--
            --><span class="wheat" name="wheat"></span><!--
            --><span class="sheep" name="sheep"></span><!--
            --><span class="rock" name="rock"></span><!--
            --><span class="brick" name="brick"></span>
        </div>

        <div class="resources-for-change">
            <span class="tree" name="tree"></span><!--
            --><span class="wheat" name="wheat"></span><!--
            --><span class="sheep" name="sheep"></span><!--
            --><span class="rock" name="rock"></span><!--
            --><span class="brick" name="brick"></span>
        </div>
        <div id="confirm">ok</div>
    </div>
    <span id="close"></span>
</div>
