<div class="player pc-<%- color %>">
    <div class="name"><%- name %></div>
    <div class="score">Victory Points:<span class="vp"><%- vp %></span></div>
    <div class="army"></div>
    <!--<div class="resources">-->
        <!--<span class="res tree"><span class="quantity"><%- tree %></span></span>-->
        <!--<span class="res wheat"><span class="quantity"><%- wheat %></span></span>-->
        <!--<span class="res sheep"><span class="quantity"><%- sheep %></span></span>-->
        <!--<span class="res rock"><span class="quantity"><%- rock %></span></span>-->
        <!--<span class="res brick"><span class="quantity"><%- brick %></span></span>-->
    <!--</div>-->
</div>